
/*css menutop*/
li.nav-item {
    display: block;
    margin: 0 15px;
}

/*end css menutop*/

/*css khoitt1*/

a.nut2.btn.btn-primary {
    width: 180px;
    height: 36px;
    background: black;
    border: none;
    border-radius: 0;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.tt {
	padding-top: 7%;
}
.tt h2{
	color:white;
}

.container.text-xs-center {
    text-align: center;
}

.container.text-xs-center img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 47px;
}

.tt {
    z-index: 2;
    position: relative;
}

.khoitt1:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: #e4555b;
	z-index: 1;
}

body, html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
    position: relative;
}


/*end css khoitt1*/

/*css kinh nghiem*/

.khoittnho {
    margin: 55px 0;
}

.khoittnho h3 {
    font-size: 20px;
    color: #e35855;
}

.khoittnho {
}

.tieudecap2 span {
    font-weight: bold;
    /* text-transform: uppercase; */
}

h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 51px;
}

.tieudeto h1 {
    text-transform: uppercase;
    font-size: 33px;
}

.col-sm-12.tieudeto {
}

.khoittnho {
}

.col-sm-4.cot1_3 {
    text-align: right;
}
.col-sm-4.cot1_3, .col-sm-4.cot3_3 {
	margin-top: 49px;
}

.col-sm-12.tieudeto {
    text-align: center;
    margin-top: 71px;
}


/*end css kinhnghiem*/

/*css comment fb*/
*{padding: 0; margin: 0}

.khoicomment {
    text-align: center;
}

/*end css comment fb*/













													/*CSS DI DONG*/
@media(max-width: 576px){

	/*css menutop di dong*/


li.nav-item {
	background: #00857f8a;
	border-radius: 11px;
}

li.nav-item {
    margin: 6px 0;
}

a.nav-link {
    display: block;
    text-align: center;
}

a.navbar-branch {
    display: block;
    text-align: center;
}

	/*end css menu top di dong*/

	/*css khoitt*/

a.nut2.btn.btn-primary {
    width: 135px;
    border-radius: 20px;
}

.tt h2 {
    font-size: 25px;
    padding-top: 0px;
}

.tt img {
    width: 196px;
    margin-top: 26px;
    margin-bottom: 10px !important;
}


.khoitt1 {
    height: 59%;
}

	/*end css khoitt*/

	/*css di dong kinhnghiem*/
	

.khoittnho h3 {
    font-size: 18px;
    margin-top: -15px;
}

.col-sm-4.cot3_3 {
    text-align: center;
}

.col-sm-4.cot2_3 {
    text-align: center;
}

.khoittnho {
    margin: 0 0 29px 0;
}

h2.tieudecap2 {
    margin-top: -37px !important;
    font-size: 20px;
}

.tieudeto h1 {
    font-size: 26px;
}

.col-sm-12.tieudeto {
    padding: 0;
    margin-top: 15px;
}

.col-sm-4.cot1_3 {
    text-align: center;
    padding: 0px 39px;
}
*{}

	/*end css di dong kinhnghiem*/
}
													/*END CSS DI DONG*/