*{padding: 0; margin: 0}


/*css menutop*/
li.nav-item {
    display: block;
    margin: 0 15px;
}

/*end css menutop*/


													/*CSS DI DONG*/
@media(max-width: 576px){

	/*css menutop di dong*/
	*{}

li.nav-item {
	background: #00857f8a;
	border-radius: 11px;
}

li.nav-item {
    margin: 6px 0;
}

a.nav-link {
    display: block;
    text-align: center;
}

a.navbar-branch {
    display: block;
    text-align: center;
}

	/*end css menu top di dong*/
}






													/*END CSS DI DONG*/